*{margin: 0%;}

.cab{
   display: flex;
   justify-content: space-between;
   background-image: -moz-linear-gradient(rgb(214, 138, 150), white);
}

.img1{
  width: 35%; 
}

.div{
    display: flex;
    justify-content: space-between;
}

.titulo{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.rodape {
    background-color: rgb(214, 138, 150);
    color: rgb(214, 138, 150);
}

.botao {
    background-color:rgb(190, 76, 93);
    width: 30%;
}